<!DOCTYPE html>
<html>
    <head>
        <title>Resume Of Bayu Putra</title>
        <link rel="stylesheet" type="text/css" href="css/main.css"/>
        <script src="libs/jquery-2.0.0.min.js"></script>

        <script src="js/classes/HTMLBuilder.js"></script>
        <script src="js/config.js"></script>
        <script src="js/main.js"></script>
    </head>
    <body>
        <div id="loading_screen">
            <p>Loading...</p>
        </div>
        <div id="content">
            <div id="papper">
                <div class="column">
                    <div class="left">
                        <img class='profile_picture' src='images/me.jpg' align="left" />
                    </div>
                    <div class="right">
                        <h1><var id="fullname">{{fullname}}</var></h1>
                        <h2><var id="current_role">{{current_role}}</var> <br/> <var id="current_company">{{current_company}}</var></h2>
                        <h3><var id="phone_number">{{phone_number}}</var> | <var id="email">{{email}}</var> | <var id="expected_salary">{{expected_salary}}</var>  | <var id="location">{{location}}</var></h3>
                    </div>
                </div>
                <hr/>
                <div class="summary">
                    <blockquote><var id="summary">{{summary}}</var></blockquote>
                </div>
                <div id="content">
                    <h1>Experiences</h1>
                    <div>
                        <var id="experiences">{{experiences}}</var>
                    </div>


                    <h1>Skills</h1>
                    <div>
                        <var id="skills">{{skills}}</var>
                    </div>

                    <h1>Languages</h1>
                    <div>
                        <var id="languages">{{languages}}</var>
                    </div>

                    <h1>Educations</h1>
                    <div>
                        <var id="educations">{{educations}}</var>
                    </div>

                </div>
            </div>
        </div>
    </body>
</html>