body, td {
    background: #ccc;
    font-family: verdana;
    font-size: 12px;
}

var{
    font-style: normal;
}

blockquote{
    padding: 10px 2px;
}

small{
    color: #999;
}

/* Loading Screen */
#loading_screen{
    background: white;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position:fixed;
    padding-top: 10%;
    text-align: center;
}

#papper{
    width: 800px;
    margin: 0 auto;
    padding: 50px;
    background: white;
    border: 1px solid #999;
}

ul.experiences > li{
    margin-bottom: 40px;
}

ul.experiences li{
    list-style: square;

}

.profile_picture{
   width: 140px;
   margin-right: 10px;
}

#papper .column{
    
}

#papper .column .left{
    float: left;
    width: 20%;
}

#papper .column .right{
    float: left;
    width: 80%;
}